extends layout

block content
    .container-fluid
        .jumbotron
            h1= title

        .jumbotron(id='chatWrapper')
            .panel.panel-default
                .panel-heading
                    .h3.panel-title NetCoApp Chat

                .panel-body
                    div.row.chatLvl0
                        .col-md-1 &nbsp;
                        .col-md-10
                            p.subtitle
                                | Bitte wähle einen Usernamen (keine Leerzeichen) und klicke dann auf Login.
                        .col-md-1 &nbsp;
                    div.row.chatLvl0
                        .col-md-1 &nbsp;
                        .col-md-10
                            form(id='usernameForm', name='usernameForm')
                                input(id='chatUsername', type='text', value='', placeholder='Please choose a Username..')
                                button.btn.btn-default(id='btnLogin', type='submit') Login
                        .col-md-1 &nbsp;
                    div.row.chatLvl1
                        .col-md-8
                            ul(id='chatList')

                        .col-md-4
                            ul(id='chatUserlist')

                .panel-footer
                    form.chatLvl1(id='chatForm', name='chatForm')
                        input(id='chatInput', type='text', value='', placeholder='Type your message here..')
                        button.btn.btn-default(type='submit') Send
                        button.btn.btn-default.pull-right(type='button', id='btnExitChatroom') exit Chatroom
