div.modal.fade(tabindex='-1', role='dialog', id='chatDialog')
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Schliessen')
                    span(aria-hidden='true') ×
                h4.modal-title
            div.modal-body

            div.modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Schliessen

div.modal.fade(tabindex='-1', role='dialog', id='privateChatModal')
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Schliessen')
                    span(aria-hidden='true') ×
                h4.modal-title

            div.modal-body
                ul(id='privateChatList')

            div.modal-footer
                form(id='privateChatForm', name='privateChatForm')
                    input(id='privateChatInput', type='text', value='', placeholder='Type your message here..')
                    button.btn.btn-default(type='submit') Send
                    button.btn.btn-default(type='button', data-dismiss='modal') Schliessen